@font-face {
  font-family: "iconfont"; /* Project id 5082879 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1765185671535') format('woff2'),
       url('iconfont.woff?t=1765185671535') format('woff'),
       url('iconfont.ttf?t=1765185671535') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianyuanquan:before {
  content: "\e647";
}

