@font-face {
  font-family: "iconfont"; /* Project id 5082879 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1765292068655') format('woff2'),
       url('iconfont.woff?t=1765292068655') format('woff'),
       url('iconfont.ttf?t=1765292068655') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ai250:before {
  content: "\e6ee";
}

.icon-yueliang:before {
  content: "\e6a7";
}

.icon-github:before {
  content: "\e732";
}

.icon-chengxuyuan:before {
  content: "\e608";
}

.icon-chengxuyuan2:before {
  content: "\e609";
}

