* {
    padding: 0px;
    margin: 0px;
}
html {
    font-size: 10px;
}

.navBar {
    font-size: 2.2rem;
    font-family: 'Times New Roman', 'SimSun';
    background-color: #c2fafb;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60px;
}
.dropdown-item {
    font-size: 2.1rem;
}
.logo {
    background: linear-gradient(45deg, rgb(30, 96, 98), rgb(207, 16, 16), yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /* 可选：加粗或大字号更明显 */
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

.logo:hover {
    background: linear-gradient(45deg, rgb(110, 204, 10), rgb(241, 218, 14), rgb(33, 33, 31), rgb(70, 82, 70), rgb(35, 35, 55), indigo, rgb(9, 9, 9));
    color: transparent;
    background-clip: text;
    font-size: 3rem;
    padding: 0px;
    margin: 0px;
}
